# Backend API Configuration
# Point to your Express backend server
VITE_API_URL=http://localhost:4000
STREAM_API_KEY=n927pcg7zsdw
STREAM_API_SECRET=dvqfkcdvkew2zsn3f7e64d3dd48ne8j48mxydmauc2ptdrfcvqqjrp493gdvhy4k
